In [2]:
import requests
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Предположим, ваша задача – найти все произведения, связанные с подсолнухами. 
# Выполните поиск по слову "sunflowers". Внимательно посмотрите на формат ответа и сохраните id полученных объектов 
# в список sunflower_ids.
# В качестве ответа выберите id объектов (3), которые присутствуют в полученном списке:

In [183]:
check_list = pd.Series(['2032', '436524', '437329', '20149', '16822570'])
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?q=sunflowers')
sunflowers = pd.Series(r.json()['objectIDs'])

df = pd.DataFrame(check_list).rename(columns={0:'id'})
df.id = df.id.astype('int')
df['check'] = df.id.isin(sunflowers)
df

         id  check
0      2032   True
1    436524   True
2    437329   True
3     20149  False
4  16822570  False

In [ ]:
# На предыдущем шаге мы получили результаты поиска. Следущий этап – собрать информацию об этих объектах.
# Пример текста запроса для получения информации об одном объекте (Object):

# r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/OBJECT_ID')
# obj_test = r_test.json()
# где OBJECT_ID – id объекта.

# Выполните запрос для объекта 437980. Для проверки соотнесите полученные параметры с их значениями:

In [52]:
r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/437980')
obj_test = r_test.json()

In [64]:
obj_test['objectID'], \
obj_test['objectName'], \
obj_test['GalleryNumber'], \
obj_test['artistDisplayName'], \
obj_test['department'], \
obj_test['title'], \
obj_test['culture'],

(437980,
 'Painting',
 '825',
 'Vincent van Gogh',
 'European Paintings',
 'Cypresses',
 '')

In [211]:
# Теперь напишите цикл, с помощью которого будет собрана информация об объектах, которые были получены на 2 шаге. 
# Результаты запишите в датафрейм, а именно – следующие параметры:

#  objectID – id объекта
# title – название
# artistDisplayName – автор
# department – департамент
# objectBeginDate – дата (начало)
# objectEndDate – дата (конец)
# period – название периода
# objectName – название/категория объекта
# culture – культура
# Сколько объектов относятся к японской культуре? (culture –Japan)
sunflowers = pd.Series(r.json()['objectIDs'])
url = 'https://collectionapi.metmuseum.org/public/collection/v1/objects/'
df4 = pd.DataFrame({'objectID': 1, 'title': '1', 'artistDisplayName': '1', 'department': '1', 'objectBeginDate': '1', \
                    'objectEndDate': '1', 'period': '1', 'objectName': '1', 'culture': '1'}, index=[])
for i in sunflowers:
    try:
        obj = requests.get(url + str(i)).json()
        obj = pd.Series(obj)[['objectID', 'title', 'artistDisplayName', 'department', 'objectBeginDate', 'objectEndDate', 'period', 'objectName', 'culture']]
        df4 = df4.append(obj, ignore_index=True)
    except:
        continue

In [230]:
df4[df4.culture == "Japan"]

,objectID,title,artistDisplayName,department,objectBeginDate,objectEndDate,period,objectName,culture
29,57922,Incense box,,Asian Art,1700,1799,Edo period (1615–1868),Incense box,Japan

In [ ]:
# Теперь попробуем построить более сложный запрос с помощью секции "Search"! На этот раз параметры необходимо передать 
# через "&", например, departmentId (id департамента – 1) и q (ключевое слово – cat):
# r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?departmentId=1&q=cat')
# cats = r.json()

# Выполните поисковый запрос для департамента "Asian art" (departmentId = 6) с тегом "cat" и запишите id объектов 
# в cat_ids. Используйте цикл из шага 4, чтобы получить данные о первой 1000 объектов из списка.
# Note: выполнение цикла может занять некоторое время (~5 минут), поэтому проверять его работоспособность лучше 
# на более маленькой выборке!
# В качестве ответа укажите, в каком периоде (period) было выполнено наибольшее количество работ, представленных в музее?

In [328]:
cats = pd.Series(requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/search?departmentId=6&q=cat').json()['objectIDs'])
url = 'https://collectionapi.metmuseum.org/public/collection/v1/objects/'
df5 = pd.DataFrame({'objectID': 1, 'title': '1', 'period': '1'}, index=[])
for i in cats[:1000]:
    try:
        obj = requests.get(url + str(i)).json()
        obj = pd.DataFrame({'objectID': obj['objectID'], 'title': obj['title'], 'period': obj['period']}, index=[0])
        df5 = pd.concat([df5, obj])
    except:
        continue
df5

,objectID,title,period
0,49698,Cat,
0,49470,Cat,Qing dynasty (1644–1911)
0,53222,Musk Cat,Muromachi period (1392–1573)
0,36221,Cat,
0,60873,Burial Crown,Song dynasty (960–1279) or later
...,...,...,...
0,64900,Bodhisattva Manjushri with attendants,Liao dynasty (907–1125)
0,76806,Bamboo Grass and Waves,Shōwa period (1926–89)
0,76924,Jurōjin,Meiji period (1866–1912)
0,50958,"Puxian (Samantabhadra, Bodhisattva of Universa...",Qing dynasty (1644–1911)
0,72435,Listening to the Waves (Chōtō),Heisei period (1989–2019)

In [332]:
df5.groupby('period').agg({'title': 'count'}).sort_values('title', ascending = False)

                                                    title
period
Edo period (1615–1868)                                463
                                                       89
Qing dynasty (1644–1911)                               61
Ming dynasty (1368–1644)                               49
Muromachi period (1392–1573)                           30
...                                                   ...
Gupta period                                            1
Eastern Han dynasty (25–200)                            1
Neolithic, Majiayao culture, Banshan phase              1
Northern Wei (386–534)–Northern Qi (550–577) dy...      1
Ming dynasty(1368–1644), Xuande mark and period...      1

[109 rows x 1 columns]